//trainers archive
.trainers-arch {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;

    .trainer-info-arch {
        text-align: center;
        padding: 0 5px;
        width: 25%;
        .trainer-photo-arch img{
            width: 100%
        }
        .trainer-bio-arch a {
            text-decoration: none;
            color: black;
        }

        h2 {
            margin-top: 0;
        }
    }
}

//trainers archive media querey
@media (max-width: 700px) {
.trainers-arch {
    width: 100%;
    
    .trainer-info-arch {
        width: 45%;
    }
}
}
