.wrapper {
    .photo-banner{
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #212121;

        .banner-title{
            margin: 0;
            color: #fff;
            font-weight: 900;
            text-transform: uppercase;
            font-size: 60px;
            letter-spacing: 2px;
        }
    }
    .page-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px 20px;


        h1 {
            font-size: 48px;
            margin-bottom: 15px;
        }

        img {
            padding: 30px;
        }
        
        .page-info{
            display: flex;
            max-width: 600px;

            .page-text {
                line-height: 1.5;
                padding-right: 12px;
            }
            
        }

        p {
            margin-top: 0;
            font-size: 18px;
        }
    }

    .single {
        flex-direction: row;
    }
}

//trainers archive media querey
@media (max-width: 800px) {
    .content-container {        
        .page-content {
            flex-direction: column;
        }
    }
}
